# Deep learning
torch
torchvision

# YOLO
ultralytics==8.4.0

# Numerics & scientific computing
numpy<2.0
scipy
scikit-learn
scikit-image
numpy-quaternion

# Visualization
matplotlib
Pillow

# Utilities
tqdm
python-dotenv

# Computer vision
opencv-python
